- if current_user
  .col-sm-6.col-sm-offset-3
    .well
      %h3 Looks like someone is signed in. Log out if you want to create a new account.

-else
  .col-md-6.col-md-offset-3
    = form_for @user, role: "form" do |f|
      .form-group
        = f.label :email_address
        = f.text_field :email_address, class: "form-control"
      .form-group
        = f.label :first_name
        = f.text_field :first_name, class: "form-control"
      .form-group
        = f.label :password
        = f.password_field :password, class: "form-control"
      = f.submit class: "btn btn-success"
