-# TODO surface model errors on fields


= form_for @event do |f|
 = f.label :name
 = f.text_field :name
 = f.label :location
 = f.text_field :location
 = f.label :guests
 = f.number_field :guests
 = f.label :start_date
 = f.date_select :start_date
 = f.label :end_date
 = f.date_select :end_date
 = f.label :vegetarian
 = f.radio_button :vegetarian, "0"
 = f.label :vegetarian, "No"
 = f.radio_button :vegetarian, "1"
 = f.label :vegetarian, "YES"
 = f.label :vegan
 = f.radio_button :vegan, "0"
 = f.label :vegan, "No"
 = f.radio_button :vegan, "1"
 = f.label :vegan, "YES"
 = f.label :gluten_free
 = f.radio_button :gluten_free, "0"
 = f.label :gluten_free, "No"
 = f.radio_button :gluten_free, "1"
 = f.label :gluten_free, "YES"
 = f.label :dairy_free
 = f.radio_button :dairy_free, "0"
 = f.label :dairy_free, "No"
 = f.radio_button :dairy_free, "1"
 = f.label :dairy_free, "YES"
 = f.submit
