%h1 Events

= link_to "New", new_event_path, class: "btn btn-success"

- @events.each do |event|
  %h3= link_to event.name, event_path(event)
  %ul
    %li
      %strong Location
      = event.location
    %li
      %strong Num of Guests
      = event.guests
    %li
      %strong Budget
      = number_to_currency(event.budget, precision: 0)
    %li
      %strong Start
      = "#{event.start_date.strftime("%b")} #{event.start_date.strftime("%-d").to_i.ordinalize}, #{event.start_date.strftime("%l:%M %p")}"
    %li
      %strong End
      = "#{event.end_date.strftime("%b")} #{event.end_date.strftime("%-d").to_i.ordinalize}, #{event.end_date.strftime("%l:%M %p")}"

