%h1 Your Events

- if @events.present?
  .row
    - @events.each do |event|
      .col-xs-12.col-sm-4.widget-container-col
        .widget-box.transparent
          .widget-header
            %h5.widget-title
              %i.ace-icon.fa.fa-calendar
              = link_to event.name, event_path(event)
          .widget-body
            .widget-main
              %table
                %tbody
                  %t4
                    %td.col-md-5
                      %strong Location
                    %td.col-md-7
                      = event.location
                  %tr
                    %td.col-md-5
                      %strong Guests
                    %td.col-md-7
                      = event.guests
                  %tr
                    %td.col-md-5
                      %strong Budget
                    %td.col-md-7
                      = number_to_currency(event.budget, precision: 0)
                  %tr
                    %td.col-md-5
                      %strong Start Date
                    %td.col-md-7
                      = "#{event.start_date.strftime("%b")} #{event.start_date.strftime("%-d").to_i.ordinalize}, #{event.start_date.strftime("%l:%M %p")}"
                  %tr
                    %td.col-md-5
                      %strong End Date
                    %td.col-md-7
                      = "#{event.end_date.strftime("%b")} #{event.end_date.strftime("%-d").to_i.ordinalize}, #{event.end_date.strftime("%l:%M %p")}"
      %hr

- else
  .well.mb30
    %H3 Looks like you don't have any events yet. Create your first one now.

= link_to "Create a New Event", new_event_path, class: "btn btn-success"
