%h1.mb30
  = @event.name
  = link_to "Meals", event_meals_path(@event), class: "btn btn-primary"
  = link_to "Edit", edit_event_path(@event), class: "btn btn-warning"
  = link_to "Delete", event_path(@event), method: :delete, class: "btn btn-danger", data: { confirm: "Are you, like, for sure?" }


.row
  .col-xs-8.widget-container-col
    .widget-box.mb30
      .widget-header
        %h2.widget-title
          Status
      .widget-body
        .widget-main
          .row.mb20
            .col-xs-8.col-xs-offset-2
              %h3
                Current Spending:
                = link_to "$#{@event.current_spend}", "#"
                - if @event.overbudget?
                  %small.alert-danger $(#{@event.current_spend - @event.budget} over budget)

          .row
            .col-xs-6
              .widget-box
                .widget-header
                  %h4.widget-title
                    Unfinished Meals
                .widget-body
                  .widget-main
                    %ul
                      %li
                        %strong Sat Lunch
                        %ul
                          %li.text-danger
                            = link_to "Glutent-Free: Missing", "#", class: "inherit-color"
                          %li.text-danger
                            = link_to "Desert: Not Ordered", "#", class: "inherit-color"
                      %li
                        %strong Sat Dinner
                        %ul
                          %li.text-danger
                            = link_to "Side2: Not Enough", "#", class: "inherit-color"
                          %li.text-danger
                            = link_to "Main: No Pickup Time", "#", class: "inherit-color"

            .col-xs-6
              .widget-box
                .widget-header
                  %h4.widget-title
                    Missing Supplies
                .widget-body
                  .widget-main
                    %ul
                      %li.text-danger
                        = link_to "Napkins: Not Purchased", "#", class: "inherit-color"
                      %li.text-danger
                        = link_to "Spoons: Not Purchases", "#", class: "inherit-color"

    .widget-box
      .widget-header
        %h2.widget-title
          Details
      .widget-body
        .widget-main
          = form_for @event, html: {class: "form-horizontal", role: "form"} do |f|
            .form-group
              = f.label :name, "Event Name", class: "col-xs-3 control-label fsize-19"
              .col-xs-9
                = f.text_field :name, class: "form-control input-xlarge"
            .form-group
              = f.label :location, class: "col-xs-3 control-label"
              .col-xs-9
                = f.text_field :location, class: "form-control input-large"
            .form-group
              = f.label :guests, "Number of Guests", class: "col-xs-3 control-label"
              .col-xs-9
                = f.number_field :guests, class: "form-control input-mini"
            .form-group
              = f.label :budget, "Budget ($$)",  class: "col-xs-3 control-label"
              .col-xs-9
                = f.number_field :budget, class: "form-control input-small"
            .form-group
              = f.label :start_date, class: "col-xs-3 control-label"
              .col-xs-9
                = f.datetime_select :start_date, class: "form-control"
            .form-group
              = f.label :end_date, class: "col-xs-3 control-label"
              .col-xs-9
                = f.datetime_select :end_date, class: "form-control"
            .form-group
              .control-label.col-xs-3 Options
              .col-xs-9
                %ul.list-inline.fsize-20
                  %li
                    = f.label :vegetarian
                    = f.check_box :vegetarian
                  %li
                    = f.label :vegan
                    = f.check_box :vegan
                  %li
                    = f.label :gluten_free
                    = f.check_box :gluten_free
            .form-group
              .col-xs-10.col-xs-offset-3
                = f.submit class: "btn btn-warning"
