%h1
  = @event.name

.row
  .col-xs-8.widget-container-col
    .widget-box
      .widget-header
        %h5.widget-title
          Status
      .widget-body
        .widget-main
          %h3
            Current Spending:
            - if @event.overbudget?
              %span.text-danger $#{@event.current_spend}
              %small.text-danger ($#{@event.current_spend - @event.budget} over budget)
            - else
              $#{@event.current_spend}


= link_to "Meals", event_meals_path(@event), class: "btn btn-primary"
= link_to "Edit", edit_event_path(@event), class: "btn btn-warning"
= link_to "Delete", event_path(@event), method: :delete, class: "btn btn-danger"
