%h1.mb30
  = @event.name
  = link_to "Meals", event_meals_path(@event), class: "btn btn-primary"
  = link_to "Delete", event_path(@event), method: :delete, class: "btn btn-danger", data: { confirm: "Are you, like, for sure?" }


.row
  .col-xs-8.widget-container-col
    .widget-box.mb30
      .widget-header
        %h2.widget-title
          %i.fa.fa-bar-chart
          Status
      .widget-body
        .widget-main
          .row.mb20
            .col-xs-8.col-xs-offset-2
              %h3
                %i.text-danger.fa.fa-warning.fsize-15
                Current Spending:
                = link_to "$#{@event.current_spend}", "#"
                - if @event.overbudget?
                  %small.alert-danger $(#{@event.current_spend - @event.budget} over budget)

          .row
            .col-xs-6
              .widget-box
                .widget-header
                  %h4.widget-title
                    %i.fa.fa-warning.text-danger
                    Unfinished Meals
                .widget-body
                  .widget-main
                    %ul
                      %li
                        %strong Sat Lunch
                        %ul
                          %li.text-danger
                            = link_to "Glutent-Free: Missing", "#", class: "inherit-color"
                          %li.text-danger
                            = link_to "Desert: Not Ordered", "#", class: "inherit-color"
                      %li
                        %strong Sat Dinner
                        %ul
                          %li.text-danger
                            = link_to "Side2: Not Enough", "#", class: "inherit-color"
                          %li.text-danger
                            = link_to "Main: No Pickup Time", "#", class: "inherit-color"

            .col-xs-6
              .widget-box
                .widget-header
                  %h4.widget-title
                    %i.fa.fa-warning.text-danger
                    Missing Supplies
                .widget-body
                  .widget-main
                    %ul
                      %li.text-danger
                        = link_to "Napkins: Not Purchased", "#", class: "inherit-color"
                      %li.text-danger
                        = link_to "Spoons: Not Purchases", "#", class: "inherit-color"

    = render "form"
