%h1.mb30
  = @event.name
  = link_to "View Meals", event_meals_path(@event), class: "btn btn-primary"
  = link_to "Delete Event", event_path(@event), method: :delete, class: "btn btn-danger", data: { confirm: "Are you, like, for sure?" }


.row
  .col-xs-8.widget-container-col
    .widget-box.mb30
      .widget-header
        %span.fsize-20
          %i.fa.fa-bar-chart
        %span.fsize-25 Status
        %span.fsize-25.col-sm-offset-1
          Current Spending:
          = link_to "$#{@event.current_spend}", "#"
          -if @event.overbudget?
            %span.text-danger.fa.fa-warning.fsize-15
            %span.fsize-15.alert-danger $(#{@event.current_spend - @event.budget} over budget)

      .widget-body
        .widget-main
          .row
            .col-xs-6
              .widget-box.transparent
                .widget-header
                  %h4.widget-title
                    %i.fa.fa-warning.text-danger
                    Unfinished Meals
                .widget-body
                  .widget-main
                    - if @event.show_warnings?
                      %ul
                        - @event.meals.decorate.each do |meal|
                          - if meal.warning_messages.present? && !meal.ignore_warnings
                            %li.mb10
                              %strong= link_to meal.category, event_meal_path(@event, meal)
                              = ":"
                              = meal.short_start_date

                              %ul
                                - meal.warning_messages.each do |warning|
                                  %li.text-danger= "#{warning[:warning_type]} : #{warning[:message]}"
                    - else
                      .well
                        %h4.text-success Looking good. No unfinished business here.

            .col-xs-6
              .widget-box.transparent
                .widget-header
                  %h4.widget-title
                    %i.fa.fa-warning.text-danger
                    Missing Supplies
                .widget-body
                  .widget-main
                    %ul
                      %li.text-danger
                        = link_to "Napkins: Not Purchased", "#", class: "inherit-color"
                      %li.text-danger
                        = link_to "Spoons: Not Purchases", "#", class: "inherit-color"

    = render "form"
