%h1.mb80
  .col-sm-4
    %span
      Supplies for
      = link_to @event.name, event_path(@event)
  .col-sm-8
    %span.fsize-25
      Total Cost of Supplies:
      = link_to number_to_currency(@event.supplies_cost, precision: 0), "#"

.row
  .col-xs-12
    %table.table.table-hover

      %tr.fsize-15
        %th.col-xs-2 Supply Item
        %th.center.col-xs-1 Vendor
        %th.center.col-xs-1 Cost
        %th.center.col-xs-2
          Total Needed
          .small Guests * Meals + 15% buffer
        %th.center.col-xs-2 Messages
        %th.center.col-xs-1 Purchased Yet?
        %th.center.col-xs-2 Edit
        %th.center.col-xs-2 Remove

      - @event.supplies.each do |supply|
        %tr.fsize-15{ class: ("danger" unless supply.purchased?) }
          %td= link_to supply.name, edit_event_supply_path(@event, supply)
          %td.center= supply.vendor
          %td.center= number_to_currency(supply.cost, precision: 0)

          -#TODO create decorator for this math
          %td.center= supply.total_needed

          %td.center.text-danger= "Still needs to be purchased!!" unless supply.purchased? # supply.warning_messages
          %td.center= supply.purchased? ? "Yes" : "No"

          %td.center
            = link_to "Edit", edit_event_supply_path(@event, supply), class: "btn btn-warning btn-minier"
          %td.center
            = link_to "Delete", event_supply_path(@event, supply), method: :delete, data: { confirm: "Are you for sure?" }, class: "btn btn-danger btn-minier"

    %p= link_to "Add a Supply", new_event_supply_path, class: "btn btn-success"
