.row#dishes
  .col-sm-12
    .widget-box.transparent
      .widget-header
        .widget-title
          %span.fsize-20
            %i.fa.fa-cutlery
          %span.fsize-25
            Dishes
      .widget-body
        .widget-main

        - @meal.dishes.each do |dish|
          .col-sm-4
            .widget-box
              .widget-header
                .widget-title
                  %span.fsize-20.purple
                    = dish.name
              .widget-body
                .widget-main
                  = form_for [@event, @meal, dish], html: {class: "form-horizontal", role: "form"} do |f|
                    .form-group
                      = f.label :vendor, class: "control-label col-sm-2"
                      .col-sm-5
                        =f.text_field :vendor, class: "form-control"
                    .form-group
                      = f.label :servings, class: "control-label col-sm-2"
                      .col-sm-5
                        = f.number_field :servings, class: "form-control input-mini"
                    .form-group
                      = f.label :category, class: "control-label col-sm-2"
                      .col-sm-5
                        = f.select :category, [["Main", "Main"], [ "Desert", "Desert"], ["Side1", "Side1"], ["Side2", "Side2"], ["Side3", "Side3"]]
                    .form-group
                      = f.label "Options", class: "control-label col-sm-2"
                      .col-sm-10
                        %ul.list-inline
                          %li
                            = f.check_box :vegetarian
                            = f.label :vegetarian
                          %li
                            = f.check_box :vegan
                            = f.label :vegan
                          %li
                            = f.check_box :gluten_free
                            = f.label :gluten_free
                    .form-group
                      = f.label "Needs Ordering?", class: "control-label col-sm-5 t-align-left"
                      .col-xs-7
                        = f.radio_button :needs_ordering, "1", checked: dish.needs_ordering?, id: "ordering-needed"
                        = f.label "Yes", class: "mr10"
                        = f.radio_button :needs_ordering, "0", checked: !dish.needs_ordering?, id: "ordering-unneeded"
                        = f.label "No"
                    .form-group#ordered_buttons
                      .col-sm-10.col-sm-offset-2
                        .btn-group{ data: {toggle: "buttons"}, html: {role: "group"} }
                          %label.btn.btn-success.pr20.pl20{ class: ("active" if dish.ordered?) }
                            = f.radio_button :ordered, "1", checked: dish.ordered?
                            Ordered
                          %label.btn.btn-danger{ class: ("active" if !dish.ordered?) }
                            = f.radio_button :ordered, "0", checked: !dish.ordered?
                            Un-Ordered

                    .form-group
                      .col-sm-2.col-sm-offset-9
                        = f.submit "Save", class: "btn btn-warning btn-sm"

