-# TODO surface model errors on fields


= form_for [@event, @meal] do |f|
  = f.label :category
  = f.select :category, [["Breakfast", "Breakfast"], ["Lunch", "Lunch"], ["Dinner", "Dinner"], ["Snack", "Snack"]]
  = f.label :guests
  = f.number_field :guests, value: @event.guests
  = f.label :start
  = f.datetime_select :start
  = f.submit

