-#TODO MAJOR - clean up all this presentation logic. No really sure how.
-#Helpers and Decorators shouldn't have a bunch of html in them. So how should this be handled?
-#TODO add ability to change category field

%h1.mb30
  = @meal.category
  for
  = link_to @event.name, event_path(@event)

  = link_to event_meals_path(@event), class: "btn btn-primary" do
    %i.fa.fa-spoon.bigger-150.mr5
    View All Meals

  = link_to event_meal_path(@event, @meal), method: :delete, class: "btn btn-danger", data: { confirm: "Are you, like, for sure?" } do
    %i.fa.fa-trash-o.bigger-150.mr5
    Delete this Meal

.row#status
  .col-sm-12
    .col-sm-5#status
      .widget-box.transparent
        .widget-header
          .widget-title
            %span.fsize-20
              %i.fa.fa-bar-chart
            %span.fsize-25
              Meal Status
        .widget-body
          .widget-main
            %table.table.table-hover
              %thead
                %tr
                  %th.no-lines Type
                  %th.no-lines Servings
                  %th.no-lines Transport Method
                  %th.no-lines Order Status
              %tbody
                - @meal.dishes.decorate.each do |dish|
                  %tr
                    %td.no-lines
                      %strong= dish.category

                    %td.no-lines{ class: ("text-danger" if dish.show_warning?(:servings)) }
                      %span= dish.servings
                      - if dish.show_warning?(:servings)
                        %span.fa.fa-warning{ title: "Servings don't equal guest count. People are gonna be hungry yo", data: {toggle: "tooltip"}}

                    %td.no-lines{ class: ("text-danger" if dish.show_warning?(:transport))}
                      = dish.transport_method
                      - if dish.show_warning?(:transport)
                        %span.text-danger.fa.fa-warning{ title: "Delivery time is not set", data: {toggle: "tooltip"}}

                    %td.no-lines{class: ("text-danger" if dish.show_warning?(:order))}
                      = dish.order_status
                      - if dish.show_warning?(:order)
                        %span.fa.fa-warning{ title: "Dish requires pre-ordering", data: {toggle: "tooltip"}}

    .col-sm-4#missing-options
      .widget-box.mb20.transparent
        .widget-header
          .widget-title
            %span.fsize-20
              %i.fa.fa-bar-chart
            %span.fsize-25
              Meal Options
        .widget-body
          .widget-main
            %table.table
              %thead
                %tr
                  %th Options
                  %th Required?
                  %th Planned?
              %tbody
                %tr{ class: ("text-danger" if @meal.show_warning?(:gluten_free)) }
                  %td.no-lines
                    %strong Gluten-Free
                    - if @meal.show_warning?(:gluten_free)
                      %span.fa.fa-warning{ title: "Event requires Gluten-Free food, but you don't see to have any dishes planned", data: {toggle: "tooltip"}}
                  %td.no-lines= @event.gluten_free? ? "Yes" : "No"
                  %td.no-lines= @meal.show_warning?(:gluten_free) ? "No" : "Yes"

                %tr{ class: ("text-danger" if @meal.show_warning?(:vegetarian)) }
                  %td.no-lines
                    %strong Vegetarian
                    - if @meal.show_warning?(:vegetarian)
                      %span.fa.fa-warning{ title: "Event requires Vegetarian food, but you don't see to have any dishes planned", data: {toggle: "tooltip"}}

                  %td.no-lines= @event.vegetarian? ? "Yes" : "No"
                  %td.no-lines= @meal.show_warning?(:vegetarian) ? "No" : "Yes"

                %tr{ class: ("text-danger" if @meal.show_warning?(:vegan)) }
                  %td.no-lines
                    %strong Vegan
                    - if @meal.show_warning?(:vegan)
                      %span.fa.fa-warning{ title: "Event requires Vegan food, but you don't see to have any dishes planned", data: {toggle: "tooltip"}}

                  %td.no-lines= @event.vegan? ? "Yes" : "No"
                  %td.no-lines= @meal.show_warning?(:vegan) ? "No" : "Yes"

    .col-sm-3#details
      .widget-box.transparent
        .widget-header
          .widget-title
            %span.fsize-20
              %i.fa.fa-search
            %span.fsize-25
              Meal Details
        .widget-body
          .widget-main
            = form_for [@event, @meal], html: {class: "form-horizontal", role: "form"} do |f|
              .form-group
                = f.label :cost, "Cost $", class: "control-label col-sm-3"
                .col-sm-4
                  = f.number_field :cost, class: "form-control input-mini"
                .col-sm-5.text-primary
                  = @meal.percentage_of_budget
              .form-group
                = f.label :date, class: "control-label col-sm-3"
                .col-sm-9
                  #datetimepicker.input-group.date
                    %input.form-control#meal_start{:type => "text", name: "meal[start]", value: bootstrap_datetime_format(@meal.start) }
                    %span.input-group-addon
                      %i.fa.fa-calendar
              .form-group
                = f.label :guests, class: "control-label col-sm-3"
                .col-sm-9
                  = f.number_field :guests, class: "form-control input-mini"
              .form-group
                = f.label :ignore_warnings, class: "control-label col-sm-3", title: "Check to disable meal warnings suc 'not enough servings' or 'missing delivery time'", data: {toggle: "tooltip"}
                .col-sm-9
                  = f.check_box :ignore_warnings, class: "form-control"
              .form-group
                .col-sm-3.col-sm-offset-3
                  = button_tag class: "btn btn-sm btn-warning" do
                    %i.fa.fa-floppy-o.bigger-150.mr5
                    Update

= render "dishes"


-#doesn't load properly when moved to custom.js

:javascript
  $(function () {
    $('#datetimepicker').datetimepicker({
      icons: {
        sideBySide: true,
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-arrow-up",
        down: "fa fa-arrow-down"
      }
    });
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });

