-#TODO MAJOR - clean up all this presentation logic. No really sure how.
-#Helpers and Decorators shouldn't have a bunch of html in them. So how should this be handled?
-#TODO add ability to change category field

%h1.mb30
  = @meal.category
  for
  = link_to @event.name, event_path(@event)

  = link_to "Dishes", event_meal_dishes_path(@event, @meal), class: "btn btn-info"
  = link_to "Meals", event_meals_path(@event), class: "btn btn-primary"
  = link_to "Delete", event_meal_path(@event, @meal), method: :delete, class: "btn btn-danger", data: { confirm: "Are you, like, for sure?" }

.row#status
  .col-sm-12
    .col-sm-8#status
      .widget-box.transparent
        .widget-header
          .widget-title
            %span.fsize-20
              %i.fa.fa-bar-chart
            %span.fsize-25
              Status
        .widget-body
          .widget-main
            %table.table.table-hover
              %thead
                %tr
                  %th.no-lines Type
                  %th.no-lines Servings
                  %th.no-lines Transport Method
                  %th.no-lines Order Status
              %tbody
                - @meal.dishes.decorate.each do |dish|
                  %tr
                    %td.no-lines
                      %strong= dish.category

                    %td.no-lines{ class: ("text-danger" if dish.show_warning?(:servings)) }
                      %span= dish.servings
                      - if dish.show_warning?(:servings)
                        %span.fa.fa-warning{ title: "Servings don't equal guest count. People are gonna be hungry yo", data: {toggle: "tooltip"}}

                    %td.no-lines{ class: ("text-danger" if dish.show_warning?(:transport))}
                      = dish.transport_method
                      - if dish.show_warning?(:transport)
                        %span.text-danger.fa.fa-warning{ title: "Delivery time is not set", data: {toggle: "tooltip"}}

                    %td.no-lines{class: ("text-danger" if dish.show_warning?(:order))}
                      = dish.order_status
                      - if dish.show_warning?(:order)
                        %span.fa.fa-warning{ title: "Dish requires pre-ordering", data: {toggle: "tooltip"}}

    .col-sm-4#missing-options
      .widget-box.mb20.transparent
        .widget-header
          .widget-title
            %span.fsize-20
              %i.fa.fa-bar-chart
            %span.fsize-25
              Options
        .widget-body
          .widget-main
            %table.table
              %thead
                %tr
                  %th Options
                  %th Required?
                  %th Planned?
              %tbody
                %tr{ class: ("text-danger" if @meal.show_warning?(:gluten_free)) }
                  %td.no-lines
                    %strong Gluten-Free
                    - if @meal.show_warning?(:gluten_free)
                      %span.fa.fa-warning{ title: "Event requires Gluten-Free food, but you don't see to have any dishes planned", data: {toggle: "tooltip"}}
                  %td.no-lines= @event.gluten_free? ? "Yes" : "No"
                  %td.no-lines= @meal.show_warning?(:gluten_free) ? "No" : "Yes"

                %tr{ class: ("text-danger" if @meal.show_warning?(:vegetarian)) }
                  %td.no-lines
                    %strong Vegetarian
                    - if @meal.show_warning?(:vegetarian)
                      %span.fa.fa-warning{ title: "Event requires Vegetarian food, but you don't see to have any dishes planned", data: {toggle: "tooltip"}}

                  %td.no-lines= @event.vegetarian? ? "Yes" : "No"
                  %td.no-lines= @meal.show_warning?(:vegetarian) ? "No" : "Yes"

                %tr{ class: ("text-danger" if @meal.show_warning?(:vegan)) }
                  %td.no-lines
                    %strong Vegan
                    - if @meal.show_warning?(:vegan)
                      %span.fa.fa-warning{ title: "Event requires Vegan food, but you don't see to have any dishes planned", data: {toggle: "tooltip"}}

                  %td.no-lines= @event.vegan? ? "Yes" : "No"
                  %td.no-lines= @meal.show_warning?(:vegan) ? "No" : "Yes"
.row#details
  .col-sm-9
    .widget-box.transparent
      .widget-header
        .widget-title
          %span.fsize-20
            %i.fa.fa-search
          %span.fsize-25
            Details
      .widget-body
        .widget-main
          = form_for [@event, @meal], html: {class: "form-horizontal", role: "form"} do |f|
            .form-group
              = f.label :date, class: "control-label col-sm-2"
              .col-sm-7
                #datetimepicker1.input-group.date.width-40
                  %input.form-control#meal_start{:type => "text", name: "meal[start]", value: @meal.bootrap_datetime_format}
                  %span.input-group-addon
                    %i.fa.fa-calendar
            .form-group
              = f.label :guests, class: "control-label col-sm-2"
              .col-sm-7
                = f.number_field :guests, class: "form-control input-mini"
            .form-group
              = f.label :ignore_warnings, class: "control-label col-sm-2", title: "Check to disable meal warnings suc 'not enough servings' or 'missing delivery time'", data: {toggle: "tooltip"}
              .col-sm-7
                = f.check_box :ignore_warnings, class: "form-control"
            .form-group
              .col-sm-3.col-sm-offset-2
                = f.submit "update", class: "btn btn-warning"

= render "dishes"




-#doesn't load properly when moved to custom.js

:javascript
  $(function () {
    $('#datetimepicker1').datetimepicker({
      icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-arrow-up",
        down: "fa fa-arrow-down"
      }
    });
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });

  console.log ("hello world");

  $( ".ordering-needed" ).click(function() {
    $(this).parent().parent().next().show();
  });
  $( ".ordering-unneeded" ).click(function() {
    $(this).parent().parent().next().hide();
  });



