-#TODO add ability to change category field
-#TODO clean up all this presentation logic. No really sure how. Helpers and Decorators shouldn't have a bunch of html in them

%h1.mb30
  = @meal.category
  for
  = link_to @event.name, event_path(@event)

  = link_to "Dishes", event_meal_dishes_path(@event, @meal), class: "btn btn-info"
  = link_to "Meals", event_meals_path(@event), class: "btn btn-primary"
  = link_to "Delete", event_meal_path(@event, @meal), method: :delete, class: "btn btn-danger", data: { confirm: "Are you, like, for sure?" }



.row
  .col-sm-12
    .col-sm-8#status
      .widget-box.transparent
        .widget-header
          .widget-title
            %span.fsize-20
              %i.fa.fa-bar-chart
            %span.fsize-25
              Status
        .widget-body
          .widget-main
            %table.table.table-hover
              %thead
                %tr
                  %th.no-lines Type
                  %th.no-lines Servings
                  %th.no-lines Transport Method
                  %th.no-lines Order Status
              %tbody
                - @meal.dishes.each do |dish|
                  %tr
                    %td.no-lines= dish.category

                    - if dish.servings_warning
                      %td.text-danger.no-lines
                        %span.fa.fa-warning
                        %span= dish.servings
                    -else
                      %td.no-lines
                        %strong= dish.servings
                    %td.no-lines
                      - if dish.transport_warning
                        %span.text-danger.fa.fa-warning
                        %span.text-danger= dish.transport_method
                      -else
                        = dish.transport_method

                    - if dish.order_status == "Needs to be Ordered"
                      %td.no-lines.text-danger
                        %span.fa.fa-warning
                        %span= dish.order_status
                    -else
                      %td.no-lines= dish.order_status

    .col-sm-4#missing-options
      .widget-box.mb20.transparent
        .widget-header
          .widget-title
            %span.fsize-20
              %i.fa.fa-bar-chart
            %span.fsize-25
              Options
        .widget-body
          .widget-main
            %table.table
              %thead
                %tr
                  %th Missing Options
                  %th Ignore
              %tbody
                - @meal.missing_options.each do |option|
                  %tr.text-danger
                    %td
                      %span.fa.fa-warning
                      %span= option
                    %td No


.row
  .col-sm-12
    .col-sm-4
      .widget-box.mb20.transparent
        .widget-header
          .widget-title
            %span.fsize-20
              %i.fa.fa-dollar
            %span.fsize-25
              Costs
        .widget-body
          .widget-main
            = form_for [@event, @meal], html: { class: "horizontal-form", role: "form" } do |f|
              .form-group
                =f.label :cost, "Current Cost ($)", class: "control-label col-sm-5"
                .col-sm-7
                  = f.number_field :cost, class: "form-control input-mini"
              .form-group
                .col-sm-5
                  = f.submit class: "btn btn-warning btn-sm"
    .col-sm-4
      .widget-box.mb30.transparent
        .widget-header
          .widget-title
            %span.fsize-20
              %i.fa.fa-user
            %span.fsize-25
              Guests
        .widget-body
          .widget-main
            = form_for [@event, @meal], html: { class: "horizontal-form", role: "form" } do |f|
              .form-group
                =f.label :guests, "Number of Guests", class: "control-label col-sm-5"
                .col-sm-7
                  = f.number_field :guests, class: "form-control input-mini"
              .form-group
                .col-sm-5
                  = f.submit class: "btn btn-warning btn-sm"
    .col-sm-4
      .widget-box.mb30.transparent
        .widget-header
          .widget-title
            %span.fsize-20
              %i.fa.fa-calendar
            %span.fsize-25
              Date
        .widget-body
          .widget-main
            = form_for [@event, @meal], html: { role: "form" } do |f|
              .form-group
                #datetimepicker1.input-group.date
                  %input.form-control#meal_start{:type => "text", name: "meal[start]", value: @meal.bootrap_datetime_format }
                  %span.input-group-addon
                    %span.fa.fa-calendar
              .form-group
                = f.submit class: "btn btn-warning btn-sm"

-#todo consolidate this with _form
:javascript
  $(function () {
    $('#datetimepicker1').datetimepicker({
      icons: {
        time: "fa fa-clock-o",
        date: "fa fa-calendar",
        up: "fa fa-arrow-up",
        down: "fa fa-arrow-down"
      }
    });
  });
