%h1
  = @meal.category
  for
  = link_to @event.name, event_path(@event)
%ul
  %li
    Guests:
    = @meal.guests
  %li
    Start:
    = @meal.start
  %li
    Ignore Warnings
    = @meal.ignore_warnings ? "YES" : "NO"

= link_to "All Meals", event_meals_path(@event), class: "btn btn-info"
= link_to "Dishes", event_meal_dishes_path(@event, @meal), class: "btn btn-info"
= link_to "Event", event_path(@event), class: "btn btn-primary"
= link_to "Edit", edit_event_meal_path(@event, @meal), class: "btn btn-warning"
= link_to "Delete", event_meal_path(@event, @meal), method: :delete, class: "btn btn-danger", data: { confirm: "Are you, like, for sure?" }

