%p#notice= notice

%p
  %b Vendor:
  = @dish.vendor
%p
  %b Servings:
  = @dish.servings
%p
  %b Category:
  = @dish.category
%p
  %b Needs Ordering:
  = @dish.needs_ordering ? "YES" : "NO"
%p
  %b Ordered:
  - if @dish.needs_ordering
    = @dish.ordered ? "YES" : "NO"
  - else
    N/A
%p
  %b Vegetarian:
  = @dish.vegetarian
%p
  %b Vegan:
  = @dish.vegan
%p
  %b Gluten free:
  = @dish.gluten_free
%p
  %b Needs ice:
  = @dish.needs_ice
%p
  %b Transport method:
  = @dish.transport_method
%p
  %b Transport time:
  = @dish.transport_time

= link_to 'Edit', edit_event_meal_dish_path(@event, @meal, @dish)
\|
= link_to 'All Dishes', event_meal_dishes_path(@event, @meal)
