!!! 5
%html(lang="en-US")
  %head
    %title Night Market
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .col-xs-3.col-xs-offset-9.title-bar
        - if current_user
          = "Welcome #{current_user.first_name || current_user.email_address}"
          = link_to "Log Out", signout_path
        - else
          Welcome Guest
          = link_to "Sign In", signin_path

      = render "layouts/flash"
      = yield
